body {
    background-color: cyan;
    text-align: center;
}

table {
    width: 90%;
    text-align: center;
    position: absolute;
    left: 5%;
    z-index: 10;
}

tr {
    margin: 0px;
}

.random-cell,
.mixed-cell {
    margin: 0px;
    width: 25%;
}

.neuro-cell {
    margin: 0px;
    width: 50%;
    border-left: black 1px solid;
    border-right: black 1px solid;
}

#nuzhdin-pic {
    width: 150px;
    height: 150px;
    display: block;

    position: absolute;
    animation: moveX 4s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(100% - 150px);
    }
}

@media (max-width: 992px) {
    tr { display: block; float: left; }
    th, td { display: block; }
}